<script type="text/javascript">
  (function() {
     var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
     po.src = 'https://apis.google.com/js/client:plusone.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
   })();
   function signinCallback(authResult) {
  var token = gapi.auth.getToken();
  var accessToken = token.access_token;
  if (authResult['access_token']) {
    var accessUrl = 'https://www.googleapis.com/plus/v1/people/me?alt=json&access_token=' + accessToken;
    $.ajax({
      type: 'GET',
      url: accessUrl,
      async: false,
      contentType: 'application/json',
      dataType: 'jsonp',
      success: function(data) {
        console.log(data)
        var originalImage = data.image.url;
        var imageUrl = originalImage.slice(0, -2);
        var gplusImage = imageUrl + "200";
        $('#fullname').val(data.displayName);
        $('#gplus').val(data.id);
        $('#image').val(gplusImage);
        $('#email').val(data.emails[0].value)
        $('.is-this-you').html("<h3>Is this you?</h3><img src='" + gplusImage + "'><br><h4>" + data.displayName + "</h4><h4>"+ data.emails[0].value +"</h4><h4>"+ data.gender +"</h4><br><input type='submit' value='Login or Register'>");
      },
      error: function(e) {
        console.log(e);
      }
    });
  } else if (authResult['error']) {
    $('.is-this-you').html("<h4>Your request could not be completed at this time</h4>");
  };
}
</script>
<span id="signinButton">
  <span
    class="g-signin"
    data-callback="signinCallback"
    data-clientid="377766185445.apps.googleusercontent.com"
    data-cookiepolicy="single_host_origin"
    data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email">
  </span>
</span>
<%= form_tag(:controller => "users", :action => "create", :method => "post") do %>
  <div class="is-this-you"></div>
  <%= hidden_field_tag :fullname %>
  <%= hidden_field_tag :gplus %>
   <%= hidden_field_tag :image %>
  <%= hidden_field_tag :email %>
<% end %>